[submodule "src/ap-source-control-api"]
	path = src/ap-source-control-api
	url = https://github.com/K-PaaS/ap-source-control-api
	branch = kpaas
[submodule "src/ap-source-control-broker"]
	path = src/ap-source-control-broker
	url = https://github.com/K-PaaS/ap-source-control-broker
	branch = kpaas
[submodule "src/ap-source-control-ui"]
	path = src/ap-source-control-ui
	url = https://github.com/K-PaaS/ap-source-control-ui
	branch = kpaas
